@using Paup2021_Vjezbe.Models
@model Student
@{
    ViewBag.Title = "Ažuriranje:"+Model.Ime+" "+Model.Prezime;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Azuriranje podataka o studentu</h2>
<h3>{Model.Ime @Model.Prezime</h3>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
<table>
    <tr>
        <td>@Html.LabelFor(model => model.Id)</td>
        <td>@Html.TextBoxFor(model => model.Id, new { disabled = true })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Ime)</td>
        <td>
            @Html.TextBoxFor(model => model.Ime)
            @Html.ValidationMessageFor(model => model.Ime)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Prezime)</td>
        <td>
            @Html.TextBoxFor(model => model.Prezime)
            @Html.ValidationMessageFor(model => model.Prezime)
        </td>
    </tr>
   <tr>
       <td>
           @Html.LabelFor(model=>model.Spol)
       </td>
       <td>
           @Html.RadioButtonFor(model => model.Spol, 'M')Muški
           @Html.RadioButtonFor(model => model.Spol, 'Z')Ženski
           @Html.ValidationMessageFor(model=>model.Spol)

       </td>
   </tr>
    <tr>
        <td>
            @Html.LabelFor(model=>model.DatumRodenja)
        </td>
        <td>
            @Html.EditorFor(model => model.DatumRodenja)
            @Html.ValidationMessageFor(model=>model.DatumRodenja)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model=>model.Oib)</td>
        <td>
            @Html.EditorFor(model=>model.Oib)
            @Html.ValidationMessageFor(model=>model.Oib)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model=>model.GodinaStudija)</td>
        <td>
            @Html.EnumDropDownListFor(model=>model.GodinaStudija)
            @Html.ValidationMessageFor(model=>model.GodinaStudija)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model=>model.RedovniStudent)</td>
        <td>
            @Html.CheckBoxFor(model=>model.RedovniStudent)
            @Html.ValidationMessageFor(model=>model.RedovniStudent)
        </td>
    </tr>

</table>
<p><input type="submit" value="Spremi"/></p>
}

